.ats:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.timeline {
  display: block;
}

.step {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.1rem 1rem;
  color: lightgrey;
  border: 1px solid #dbdbdb;
}

.step:not(:last-child) {
  border-bottom: 0;
}

@media screen and (min-width: 769px), print {
  .timeline {
    display: flex;
  }

  .step {
    padding: 0.5rem;
  }

  .step:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid #dbdbdb;
  }
}

.commandButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commandButtons :global(.tag) {
    margin-right: 0.5em;
}

.step.success {
  background: #00d1b2;
  color: white;
}

.step.rejected {
  background: #dbdbdb;
  color: white;
}

.stage {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
}

.date {
  margin-top: -1.5rem;
  font-size: 0.75rem;
  float: right;
  font-weight: 400;
  line-height: 1.25;
}
